* {
    box-sizing: border-box;
}
div{
    width: 400px;
    background-color: blue;
    border: 10px solid;
    padding: 40px;
}

input{
    width: 100%;
    padding: 10px;
    /* box-sizing: border-box; */
}